body{
  background-color: rgba(255, 255, 255, 0.756);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: black;
  line-height: normal;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 0 auto;
  text-align:  center;
  align-content: center;
  padding: 20px
}

h1{
  font-weight: bold;
  font-size: 55px;
  padding-top: 0px;
}

h2{
  color: #667761;
  font-size: 30px ;
}

h3{
  font-weight: bold;
  margin-bottom: 1px;
}

a {
  color: #667761;
  text-decoration: none;
}

a:hover {
  color:#035397;
}

.img-circle{
border-radius: 50%;
}

.button-grey{
  background-color: #667761;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.button-grey:hover{
  background-color: #035397;
  color: white;
  padding: 5px;
}

.container{
  text-align: center;
  margin : 30px;
  width: 700px;
  background-color: white;
  margin : 20px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 15px;
}

#card-blue{
  background-color: #BFD7EA;
}

.list-inline{
  display: inline-block;
  padding: 0px 20px;
  list-style-type: none;
}

.fa-brands{
  font-size: 40px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 780px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
